main {
	position: absolute;
	width: 100%;
	color: white;
	text-align: center;
}

.lvl-1 {
	padding: 15px 0 15px 15px;
}
.lvl-2 {
	padding: 10px 0 10px 25px;
}

.container-left {
	flex: 2;
}

.container__main > section > div {
	height: 100vh;
	width: 100%;
	-moz-background-size: cover; /* Firefox 3.6+ */
	-webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: cover; /* Opera 9.6+ */
	background-size: cover; /* Современные браузеры */

	display: flex;
	justify-content: center;
	align-items: center;
}

.container__main .content {
	font-size: 70px;
}

.first__block {
	background: url(../../../img/wow.jpg) no-repeat;
}

.second__block {
	background: url(../../../img/creative.jpg) no-repeat;
}

.block__wrapper {
	background: transparent;
	overflow: hidden;
}

.rainbow {
	background: linear-gradient(45deg, #acffff, #6fc5ff 50%, #4d85ff);
}
