.ecommerce-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: black;
    background: linear-gradient(45deg, rgba(255, 254, 172, 20) 0%, rgb(255, 169, 111) 50%, rgb(255, 111, 111) 100%);
}